<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
    <header>
        <a class="site-title" href="{% include relative %}" >{{ site.title }}</a>

        <div style="display: inline-block">
          {% for item in site.navbar %}
    | <a href="{{ item.url }}">{{ item.title }}</a>
{% endfor %}
    </header>
    <hr>
    <main><div class="content-wrapper">{{ content }}</div></main>
    <hr>
    <footer>
        {% capture footer-md %}{% include footer.md %}{% endcapture %}{{ footer-md | markdownify }}
    </footer>
</body>
</html>
